<module>
	<rawname>gabcast</rawname>
	<name>Gabcast</name>
	<version>1.0</version>
	<type>tools</type>
	<category>Addon</category>
	<menuitems>
		<gabcast>Gabcast</gabcast>
	</menuitems>
	<location>release/gabcast-1.0.tgz</location>
	<info>http://aussievoip.com.au/wiki/freePBX-gabcast</info>
	<md5sum>f8d728c3c15411ea847bd2b69c161a77</md5sum>
</module>
