<module>
	<rawname>gabcast</rawname>
	<name>Gabcast</name>
	<version>1.1</version>
	<type>tools</type>
	<category>Addon</category>
	<menuitems>
		<gabcast>Gabcast</gabcast>
	</menuitems>
	<location>release//2.2/gabcast-1.1.tgz</location>
	<info>http://aussievoip.com.au/wiki/freePBX-gabcast</info>
	<md5sum>471657f0e9de07a06d623d7a2bead485</md5sum>
</module>
