<module>
	<rawname>inventorydb</rawname>
	<name>Inventory</name>
	<version>1.1.0</version>
	<type>tool</type>
	<category>Third Party Addon</category>
	<menuitems>
		<inventorydb>Inventory</inventorydb>
	</menuitems>
	<changelog>
		*1.1.0* Added SQLite3 support. Fixes ticket:1783, bump for rc1
		*1.0.3* Add he_IL translation
	</changelog>
	<location>release/2.3/inventorydb-1.1.0.tgz</location>
	<md5sum>ae5cd1817f27ea15b5d25f8eff048bf8</md5sum>
</module>

