<module>
	<rawname>inventorydb</rawname>
	<name>Inventory</name>
	<version>1.0.3</version>
	<type>tool</type>
	<category>Third Party Addon</category>
	<menuitems>
		<inventorydb>Inventory</inventorydb>
	</menuitems>
	<changelog>
		*1.0.3* Add he_IL translation
	</changelog>
	<location>release/2.2/inventorydb-1.0.3.tgz</location>
	<md5sum>a575ae7e9ee4c2c52b46c91ea834b875</md5sum>
	<info>http://freepbx.org/wiki/inventorydb</info>
</module>

