<module>
	<rawname>zoip</rawname>
	<name>Zork (Read this link before downloading)</name>
	<version>0.2.0</version>
	<type>module</type>
	<category>Games</category>
	
	<location>release/2.2/zoip-0.2.0.tgz</location>
	<info>http://aussievoip.com.au/wiki/freePBX-ZoIP</info>
	<md5sum>a0318ecc7376f33c54abf9c3efd96958</md5sum>
</module>
