<module>
	<rawname>customerdb</rawname>
	<name>Customer DB</name>
	<version>1.2</version>
	<type>tool</type>
	<category>Module</category>
	<menuitems>
		<customerdb>Customer DB</customerdb>
	</menuitems>
	<location>release/2.2/customerdb-1.2.tgz</location>
	<md5sum>e77afba6e5082ed06e5a8073d3b1f6af</md5sum>
	<info>http://freepbx.org/wiki/CustomerDB</info>
</module>

