<module>
	<rawname>customerdb</rawname>
	<name>Customer DB</name>
	<version>1.2.3.1</version>
	<type>tool</type>
	<category>Third Party Addon</category>
	<menuitems>
		<customerdb>Customer DB</customerdb>
	</menuitems>
	<changelog>
		*1.2.3.1* bump for rc1
		*1.2.3* Add he_IL translation
	</changelog>
	<location>release/2.3/customerdb-1.2.3.1.tgz</location>
	<md5sum>1e619dee5942828a4dfd7cee9085e5e5</md5sum>
</module>

